.prod_titulo{
    font-family: 'Acme';
    font-size: 1.85em;
    color: #6C0D08;
    display: flex;
    margin-top: 1cm;
}
.prod_texto{
    font-size: medium;
    font-style: italic;
    text-align: left;
}
.prod_sub{
    font-size: 1.35em;
    display: flex;
    margin-top: 1cm;
    font-weight: 900;
}
.prod_card{
    border-color: #12416B;
    background-color: #12416B;
    color: white;
}
.col{
    margin-bottom: 1cm;
}
.formulario{
    background-color: #EFEFEF;
    margin-top: 1cm;
    border-radius: 1cm;
    padding: 0.5cm;
    color: black;
    text-align: left;
    margin-bottom: 1cm;
}
.btn{
    background-color: #6C0D08;
    color: white;
}
.btn:hover{
    background-color: #705352;
    color: white;
}